<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">
  
<head>
	<title>User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>	
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{user.header.list}">회원 목록</h2>
	<a href="register.html" th:href="@{/user/register}" th:text="#{action.new}">새로만들기</a>
	
	<table border="1">
		<tr>
			<th align="center" width="60" th:text="#{user.no}">번호</th>
			<th align="center" width="80" th:text="#{user.userId}">아이디</th>
			<th align="center" width="300" th:text="#{user.userPw}">비밀번호</th>
			<th align="center" width="100" th:text="#{user.userName}">사용자명</th>
			<th align="center" width="100" th:text="#{user.job}">직업</th>
			<th align="center" width="180" th:text="#{user.regdate}">등록일시</th>
		</tr>
		
		<tr th:if="${#lists.isEmpty(list)}">
			<td colspan="6" th:text="#{common.listEmpty}">
				List is empty.
			</td>
		</tr>
		
		<tr th:each="member : ${list}">
			<td align="center" th:text="${member.userNo}">${member.userNo}</td>
			<td align="center"><a href="read.html" th:href="'/user/read?userNo=' + ${member.userNo}" th:text="${member.userId}">${member.userId}</a></td>
			<td align="left" th:text="${member.userPw}">${member.userPw}</td>
			<td align="right" th:text="${member.userName}">${member.userName}</td>
			<td align="right" th:text="${member.job}">${member.job}</td>
			<td align="center" th:text="${#dates.format(member.regDate, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>
	
	<script th:inline="javascript">
		var result = [[${msg}]];
	
		if (result === "SUCCESS") {
			alert([[#{common.processSuccess}]]);
		}
	</script>
</div>
</body>
</html>
