<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Item</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>	
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{item.header.modify}">상품 수정</h2>
	
	<form id="item" action="list.html" th:action="@{/item/modify}" th:object="${item}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="itemId" th:field="*{itemId}" />
		<input type="hidden" name="pictureUrl" th:field="*{pictureUrl}" />
		<input type="hidden" name="previewUrl" th:field="*{previewUrl}" />	
	
		<table>
			<tr>
				<td th:text="#{item.itemName}">상품명</td>
				<td><input type="text" name="itemName" th:field="*{itemName}" /></td>
				<td><span class="error_message" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}">itemName의 에러 메시지</span></td>
			</tr>
			<tr>
				<td th:text="#{item.itemPrice}">상품가격</td>
				<td><input type="text" name="price" th:field="*{price}" />&nbsp;원</td>
				<td><span class="error_message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price의 에러 메시지</span></td>
			</tr>
			<tr>
				<td th:text="#{item.preview}">미리보기</td>
				<td><img src="display?itemId=${item.itemId}" th:src="|display?itemId=${item.itemId}|" width="210" height="240"></td>
			</tr>		
			<tr>
				<td th:text="#{item.itemFile}">상품파일</td>
				<td><input type="file" name="picture" /></td>
				<td></td>
			</tr>
			<tr>
				<td th:text="#{item.itemPreviewFile}">미리보기파일</td>
				<td><input type="file" name="preview" /></td>
				<td></td>
			</tr>
			<tr>
				<td th:text="#{item.itemDescription}">상품설명</td>
				<td><textarea name="description" th:field="*{description}"></textarea></td>
				<td><span class="error_message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description의 에러 메시지</span></td>
			</tr>
		</table>
		
	</form>
	
	<div>
		<button type="submit" id="btnModify" th:text="#{action.modify}">수정</button>
		<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
	</div>
	
	<script>
		$(document).ready(function() {
	
			var formObj = $("#item");
	
			$("#btnModify").on("click", function() {
				formObj.submit();
			});
	
			$("#btnList").on("click", function() {
				self.location = "list";
			});
	
		});
	</script>
</div>
</body>
</html>
