<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oembed Test Site</title>
</head>
<link rel="stylesheet" href="css/home.css" type="text/css" />
<script type="text/javascript" src="js/home.js"></script>
<body>
<div class="container">
    <header>
        <div id="title">oEmbed Test</div>
        <div id="input_Box">
            <input type="text" placeholder="url을 입력해주세요" id="urlText" /> <input
                type="button" value="확인" onclick="requestUrl()"></input>
        </div>
    </header>
    <article>
        <div id="content_wrap">
            <div id="title_container"></div>
            <ul id="responseDataInContainer"></ul>
        </div>
    </article>
</div>
</body>
</html>