body, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:link {
    color: #2eaab7;
}

header {
    width: 100%;
    height: 180px;
    background-color: #2eaab7;
}

#title {
    width: 100%;
    height: 100px;
    line-height: 120px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#input_Box {
    width: 1024px;
    margin: 0 auto;
}

#input_Box > input[type="text"] {
    width: 100%;
    height: 50px;
    color: darkgray;
    font-size: 1.2em;
    border-radius: 3px;
    text-indent: 1em;
}

#input_Box > input[type="button"] {
    width: 60px;
    height: 38px;
    font-size: 1em;
    font-weight: bold;
    margin: -70px;
    border: none;
    border-radius: 3px;
    background-color: #ffcd45;
}

article {
    width: 100%;
    overflow: auto;
    background-color: #eee;
}

#content_wrap {
    width: 1024px;
    margin: 30px auto;
    border: 1px solid dimgray;
    border-radius: 3px;
    background-color: white;
}

#title_container, #responseDataInContainer {
    width: 924px;
    margin: 30px auto;
}

#title_container > div, #responseDataInContainer li {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap: initial;
    background-color: white;
}

#responseDataInContainer li:nth-child(2n) {
    background-color: #eee;
}

#title_container > div > div:nth-child(1), #responseDataInContainer li > div:nth-child(1) {
    flex-basis: 200px;
    word-break: break-all;
    white-space: normal;
    padding-left: 10px;
}

#title_container > div > div:nth-child(2), #responseDataInContainer li > div:nth-child(2) {
    flex-basis: 100%;
    word-break: break-all;
    white-space: normal;
    padding-left: 10px;
    font-weight: bold;
}

#title_container > div > div:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

xmp {
    width: 100%;
    white-space: normal;
}