<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">
  
<head>
	<title>CodeGroup</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>	
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{codegroup.header.read}">코드그룹 상세보기</h2>
	
	<form id="codeGroup" action="list.html" th:action="@{/codegroup/remove}" th:object="${codeGroup}" method="POST">
		<table>
			<tr>
				<td th:text="#{codegroup.groupCode}">코드그룹코드</td>
				<td><input type="text" name="groupCode" th:field="*{groupCode}" readonly="readonly" /></td>
			</tr>
			<tr>
				<td th:text="#{codegroup.groupName}">코드그룹명</td>
				<td><input type="text" name="groupName" th:field="*{groupName}" readonly="readonly" /></td>
			</tr>
		</table>
	</form>
	
	<div>
		<button type="submit" id="btnEdit" th:text="#{action.edit}">편집</button>
	    <button type="submit" id="btnRemove" th:text="#{action.remove}">삭제</button>
		<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
	</div>
	
	<script>
		$(document).ready(function() {
	
			var formObj = $("#codeGroup");
	
			$("#btnEdit").on("click", function() {
				var groupCode = $("#groupCode");
				var groupCodeVal = groupCode.val();
				
				self.location = "modify?groupCode=" + groupCodeVal;
			});
	
			$("#btnRemove").on("click", function() {
				formObj.attr("action", "/codegroup/remove");
				formObj.submit();
			});
	
			$("#btnList").on("click", function() {
				self.location = "list";
			});
	
		});
	</script>
</div>
</body>
</html>
