<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_template}">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{common.homeWelcome}">Image Shop에 오신 것을 환영합니다.</h1>

    <p th:text="${serverTime}">시간 표시</p>
</div>
</body>
</html>
